:root .prose {
  --tw-prose-body: var(--color-default-700);
  --tw-prose-headings: var(--color-default-900);
  --tw-prose-lead: var(--color-default-600);
  --tw-prose-links: var(--color-default-900);
  --tw-prose-bold: var(--color-default-900);
  --tw-prose-counters: var(--color-default-500);
  --tw-prose-bullets: var(--color-default-300);
  --tw-prose-hr: var(--color-default-200);
  --tw-prose-quotes: var(--color-default-900);
  --tw-prose-quote-borders: var(--color-default-200);
  --tw-prose-captions: var(--color-default-500);
  --tw-prose-kbd: var(--color-default-900);
  --tw-prose-kbd-shadows: opacity(var(--color-default-900) ; 10%);
  --tw-prose-code: var(--color-default-900);
  --tw-prose-pre-code: var(--color-default-200);
  --tw-prose-pre-bg: var(--color-default-800);
  --tw-prose-th-borders: var(--color-default-300);
  --tw-prose-td-borders: var(--color-default-200);
}

:root {
  --color-background: color-mix(
    in srgb,
    var(--color-default-50) 50%,
    transparent
  );

  background: var(--color-background);
  color: var(--color-default-950);
  --color-white: #fff;

  @variant dark {
    --color-white: var(--color-black);

    .shiki,
    .shiki span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      /* Optional, if you also want font styles */
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
}

@theme {
  --spacing-header: 64px;
  --height-main: calc(100vh - var(--spacing-header));
  --width-sidebar: 300px;
  --color-white: var(--color-white);
  --color-background: var(--color-background);
  --width-web-table-of-content: 300px;
}
